.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  font-family: system-ui;
  font-size: 20px;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.customclass {
  background: #7c3aed;
  border-radius: 6px;
  color: white;
  padding-bottom: 10px;
}

.customclass:hover {
  background: #7c3aed;
  text-decoration: none;
}

.custom-link {
  color: #7c3aed;
}

.creator:visited {
  color: #7c3aed;
}
.creator {
  color: #7c3aed;
  animation: blink-animation 1s steps(15, start) infinite;
  -webkit-animation: blink-animation 1s steps(15, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
    color: black;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
    color: black;
  }
}
